.hero {
  margin:-20px;
  margin-bottom: 0;
  background-image:url('../img/mark-blur.png');
  background-size:cover;
  height:400px;
}

.blur {
  background-image:url('../img/blur.png');
  background-repeat: round;
}
